/* ========================================
        GLOBAL
=========================================*/
html {
    height: 100%;
}
body {
    color: rgb(230, 222, 222);
    background-color: rgb(10, 10, 10);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}
a {
    color: inherit;
    text-decoration: inherit;
}
a:hover {
    color: inherit;
    text-decoration: inherit;
}


/* ========================================
        HEADER
=========================================*/
.navbar-custom {
    background-color: rgba(41, 41, 41, 0.9);
    height: 100px;
    z-index: 999;
    width: 100%;
    border-bottom:rgba(68, 68, 68) solid 1px;
    backdrop-filter: blur(25px); 
    position: fixed;
}
.nav-item {
    font-size: 18px;
    margin: 0 20px;
}



/* ========================================
        COMPONENTS
=========================================*/
.custom-container {
    background-color:rgb(41, 41, 41, 0.8);
    border:rgba(78, 78, 78, 0.8) solid 1px;
    border-radius: 10px;
    padding: 50px 50px;
    margin-top: 175px;
    margin-bottom: 30px;
    backdrop-filter: blur(25px); 
}
.custom-backdrop {
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10vh;
} 
.browse-backdrop {
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10vh;
}
.single-backdrop {
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 10vh;
}
.heading {
    font-weight: 300;
}

/* Buttons */
.btn:hover {
    cursor: pointer;
}
.btn-light {
    background-color: rgb(230, 222, 222);
}
.added:hover {
    cursor: default;
}

/* Movie cards */
.card-container {
    margin-bottom: 100px;
    flex-wrap: wrap;
    gap: 30px;
}
.card {
    background-color:rgb(41, 41, 41);
    width: 250px;
    transition: 0.3s;
}
.card:hover {
    filter:brightness(120%);
    transform: scale(102%) translateY(-10px);
    transition: 0.3s;
}


/* ========================================
        INDEX-PAGE
=========================================*/
/* Hero image */
.jumbotron-custom {
    background: no-repeat;
    background-size: cover;
    max-height: 100%;
    margin-bottom: 30px;
    display: none;
    position: relative;
}
.jumbotron-text-container {
    margin-top: 25%;
    margin-left: 10%;
    bottom: 100px;
    max-width: 50%;
}
.jumbo-btn {
    padding: 8px 30px;
}

/* Slideshow fade animation */
.fade {
  animation-name: fade;
  animation-duration: 6s;
}

@keyframes fade {
  0% {opacity: 0;} 
  50% {opacity: 1;}
  95% {opacity: 1;}
}




/* ========================================
        BROWSE-PAGE
=========================================*/
.search-bar {
    width: 90%;
    height: 50px;
    padding-left: 10px;
    background-color: rgb(230, 222, 222);
    border:rgb(230, 222, 222) solid 3px;
}
.search-btn {
    border-radius: 0 5px 5px 0;
    margin-left: -1px;
    width: 10%;
}
.btn-pill {
    padding: 1px 10px;
    color: inherit;
}
.need-login {
    font-size: 24px;
    font-weight: 700;
    margin: 25px 0 0 400px;
    color: rgb(231, 53, 53);
}



/* ========================================
        SINGLE-PAGE
=========================================*/
.single-container {
    background-color:rgb(41, 41, 41, 0.8);
    border:rgba(78, 78, 78, 0.8) solid 1px;
    display: flex;
    border-radius: 10px;
    backdrop-filter: blur(10px); 
    margin-top: 20vh;
    margin-bottom: 30px;
}
.single-body {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
.single-bottom {
    align-self: flex-end;
} 
.single-img {
    background-color:rgb(41, 41, 41);
    height: 500px;
    border-radius: 10px 0 0 10px;
} 
.single-body h1 {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom:rgb(230, 222, 222) solid 1px;
    font-size: 40px;
} 
.single-body p {
    font-size: 18px;
}
.meta-badge {
    color: rgb(206, 202, 202);
    background-color: rgb(63, 62, 62);
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
}
.pop-up {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    padding-top: 400px; /* Location of the box */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0, 0, 0, 0.7); /* Fallback color */
}
.pop-up-content {
    display: flex;
    justify-content: space-between;
    background-color: rgb(41, 41, 41);
    margin: auto;
    padding: 20px 30px;
    border: rgb(234, 79, 63, 0.8) solid 1px;
    width: 40%;
    border-radius: 10px;
}
.pop-up-text {
    margin-bottom: 0;
}
.close {
    color: rgb(230, 222, 222);
    font-size: 2rem;
    font-weight: bold;
    margin: -10px -10px 0 10px;
}
.close:hover, .close:focus {
  color: rgb(230, 230, 230);
  text-decoration: none;
  cursor: pointer;
}



/* ========================================
        SHELF-PAGE
=========================================*/
.shelf-container {
    background-color:rgb(41, 41, 41);
    filter: drop-shadow(0 10px 20px black);
    padding: 50px 30px;
    border-radius: 10px;
} 
.list-group {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list-movie {
    width: 75%;
    padding-left: 25px;
    box-sizing: border-box;
    border:none;
    border-radius: 10px 0 0 10px;
    height: 50px;
    line-height: 50px;
    background-color: rgb(100, 100, 100);
}
.list-movie:hover {
    filter: brightness(1.2);
}
.list-btn {
    padding: 13px;
    border-radius: 0 10px 10px 0;
    background-color:rgba(65, 63, 63);
    border:rgba(78, 78, 78) solid 1px;
    border-bottom:rgba(78, 78, 78) solid 2px;
    color:rgb(206, 202, 202);
}
.list-btn:hover {
    background-color:#dc3545;
}

/* logout buttons etc */
.btn-container {
    width: 30%;
    position: absolute;
    top: 75px;
    right: 90px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}



/* ========================================
        LOGIN-PAGE
=========================================*/
.login-container {
    width: 750px;
}
.error {
	color: rgb(234, 79, 63);
	left: 140px;
    bottom: 58px;
    position: absolute;
}
.error svg {
	color: rgb(234, 79, 63);
	margin-right: 10px;
    margin-top: -5px;
}



/* ========================================
        FOOTER
=========================================*/
footer {
    margin-top: auto;
    padding: 25px;
    background-color: rgb(41, 41, 41);
    display: flex;
    align-items: center;
}
.footer-item {
    margin: auto;
    text-align: center;
}



/* =========================================
        MEDIA QUERIES
========================================= */

/* =============
    MEDIUM
============= */
@media only screen and (max-width: 992px) {
    /* GLOBAL */
    .sm-center {
        text-align: center;
    }
     .display-3 {
        font-size: 3.5rem;
    }
    .display-4 {
        font-size: 2.5rem;
    }
    
    /* LANDING PAGE */
    .jumbotron-custom {
        background: no-repeat center;
        background-size: cover;
        height: 80vh;
    }
    .jumbotron-text-container {
        position: absolute;
        bottom: 15%;
        max-width: 60%;
    }
    
    /* BROWSE PAGE */
    .custom-backdrop {
        background: no-repeat center;
        background-size: cover;
        height: 80vh;
    }
    .search-bar {
        width: 80%;
    }
    .search-btn {
        width: 20%;
    }

    /* SINGLE PAGE */
    .single-backdrop {
        height: 100%;
        margin-bottom: 20px;
    }
    .single-top {
        display: flex;
        flex-direction: column;
    }
    .single-img {
        border-radius: 10px 0 50px 0;
    }
    .meta-badge {
        margin: 5px 0;
    }
}

/* =============
    SMALL
============= */
@media only screen and (max-width: 768px) {
    /* GLOBAL */
    .sm-hide {
        display: none;
    }
    .lead {
        font-size: 1rem;
    }
    .card-container {
        gap: 5vw;
    }
    .card {
        width: 40vw;
    }

    /* NAV */
    .navbar-custom {
        height: 75px;
    }

    /* LANDING PAGE */
    .jumbotron-text-container {
        margin-left: 0;
        position: absolute;
        bottom: 10%;
        max-width: 90%;
    }

    /* BROWSE PAGE */
    .custom-container {
        margin-top: 95px;
        padding: 25px;
        width: 90%;
    }
    .custom-backdrop {
        height: 70vh;
    }
    .browse-backdrop {
        height: 50%;
        margin-bottom: 5%;
    }
    .search-bar {
        width: 100%;
        border-radius: 5px;
        display: block;
    }
    .search-btn {
        margin-top: 20px;
        width: 100%;
        height: 44px;
        border-radius: 5px;
    }
    .btn-pill {
        margin-bottom: 5px;
        height: 44px;
    }
    .dblock {
        font-size: 1.5rem;
        display: block;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    /* SINGLE PAGE */
    .single-container {
        margin-top: 95px;
        padding: 20px;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
    .single-body {
        padding: 10px 0 0 0;
    } 
    .single-bottom {
        align-self: center;
    } 
    .single-img {
        width: 100%;
        height: 50%;
        border-radius: 10px;
    } 
    .single-body h1 {
        font-size: 2em;
        text-align: center;
        margin-bottom: 20px;
    } 
    .single-body p {
        font-size: 16px;
        margin-bottom: 30px
    }
    .meta-badge {
        text-align: center;
    }
    .pop-up {
        padding-top: 75%;
    }
    .pop-up-content {
        width: 80%;
        padding: 20px 30px;
    }
}