/* ========================================
        GLOBAL
=========================================*/
html {
    height: 100%;
}
body {
    color: rgb(230, 222, 222);
    background-color: rgb(10, 10, 10);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: inherit;
}
a:hover {
    color: inherit;
    text-decoration: inherit;
}


/* ========================================
        HEADER
=========================================*/
.navbar-custom {
    background-color: rgba(41, 41, 41, 0.8);
    height: 100px;
    z-index: 1;
    width: 100%;
    border-bottom:rgba(68, 68, 68, 0.8) solid 1px;
    backdrop-filter: blur(25px); 
    position: absolute;
}
.nav-item {
    font-size: 18px;
    margin: 0 20px;
}



/* ========================================
        COMPONENTS
=========================================*/
.custom-container {
    background-color:rgb(41, 41, 41, 0.8);
    border:rgba(78, 78, 78, 0.8) solid 1px;
    border-radius: 10px;
    padding: 50px 50px;
    margin: -600px auto 30px auto;
    backdrop-filter: blur(25px); 
}
.custom-backdrop {
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
} 

.heading {
    font-weight: 300;
}

/* Buttons */
.btn:hover {
    cursor: pointer;
}
.btn-light {
    background-color: rgb(230, 222, 222);
}
.added:hover {
    cursor: default;
}

/* Movie cards */
.card-container {
    margin: 50px 0 100px 0;
    flex-wrap: wrap;
    gap: 30px;
}
.card {
    background-color:rgb(41, 41, 41);
    width: 250px;
    transition: 0.3s;
}
.card:hover {
    filter:brightness(120%);
    transform: scale(102%) translateY(-10px);
    transition: 0.3s;
}
.card-img-top {
    height: 350px;
    object-fit: cover;
}
.card-body {
    text-align: center;
    height: 75px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* ========================================
        INDEX-PAGE
=========================================*/
/* Hero image */
.jumbotron-custom {
    background: no-repeat;
    background-size: cover;
    max-height: 100%;
    margin-bottom: 25px;
    display: none;
    position: relative;
}
.jumbotron-text-container {
    margin-top: 25%;
    margin-left: 10%;
    bottom: 100px;
    max-width: 50%;
}
.jumbo-btn {
    padding: 8px 30px;
}

/* Slideshow fade animation */
.fade {
  animation-name: fade;
  animation-duration: 6s;
}

@keyframes fade {
  0% {opacity: 0;} 
  50% {opacity: 1;}
  95% {opacity: 1;}
}




/* ========================================
        BROWSE-PAGE
=========================================*/
.search-bar {
    width: 90%;
    height: 50px;
    padding-left: 10px;
    background-color: rgb(230, 222, 222);
    border:rgb(230, 222, 222) solid 3px;
}
.search-btn {
    border-radius: 0 5px 5px 0;
    margin-left: -1px;
    width: 10%;
}
.btn-pill {
    padding: 1px 10px;
    color: inherit;
}
.need-login {
    font-size: 24px;
    font-weight: 700;
    margin: 25px 0 0 400px;
    color: rgb(231, 53, 53);
}



/* ========================================
        SINGLE-PAGE
=========================================*/
.single-container {
    background-color:rgb(41, 41, 41, 0.8);
    border:rgba(78, 78, 78, 0.8) solid 1px;
    display: flex;
    margin-top: -600px;
    border-radius: 10px;
    backdrop-filter: blur(10px); 
}
.single-body {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
.single-bottom {
    align-self: flex-end;
} 
.single-img {
    background-color:rgb(41, 41, 41);
    height: 500px;
    border-radius: 10px 0 0 10px;
} 
.single-body h1 {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom:rgb(230, 222, 222) solid 1px;
    font-size: 40px;
} 
.single-body p {
    font-size: 18px;
}
.meta-badge {
    color: rgb(206, 202, 202);
    background-color: rgb(63, 62, 62);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
}



/* ========================================
        SHELF-PAGE
=========================================*/
.shelf-container {
    background-color:rgb(41, 41, 41);
    filter: drop-shadow(0 10px 20px black);
    margin-top: -600px;
    padding: 50px 30px;
    border-radius: 10px;
} 
.list-group {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list-movie {
    width: 75%;
    padding-left: 25px;
    box-sizing: border-box;
    border:none;
    border-radius: 10px 0 0 10px;
    height: 50px;
    line-height: 50px;
    background-color: rgb(100, 100, 100);
}
.list-movie:hover {
    filter: brightness(1.2);
}
.list-btn {
    padding: 13px;
    border-radius: 0 10px 10px 0;
    background-color:rgba(65, 63, 63);
    border:rgba(78, 78, 78) solid 1px;
    border-bottom:rgba(78, 78, 78) solid 2px;
    color:rgb(206, 202, 202);
}
.list-btn:hover {
    background-color:#dc3545;
}

/* logout buttons etc */
.btn-container {
    width: 30%;
    position: absolute;
    top: 75px;
    right: 90px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}



/* ========================================
        LOGIN-PAGE
=========================================*/
.login-container {
    width: 750px;
}
.error {
	color: #EA4F3F;
	left: 140px;
    bottom: 58px;
    position: absolute;
}
.error svg {
	color: #EA4F3F;
	margin-right: 10px;
    margin-top: -5px;
}



/* ========================================
        FOOTER
=========================================*/
footer {
    margin-top: auto;
    padding: 25px;
    background-color: rgb(41, 41, 41);
    display: flex;
    align-items: center;
}
.footer-item {
    margin: auto;
    text-align: center;
}



/* =========================================
        MEDIA QUERIES
========================================= */

/* =============
    X-LARGE
============= */
@media only screen and (max-width: 1200px) {
    .card-container {
        justify-content: center!important;
    }
}

/* =============
    LARGE
============= */
@media only screen and (max-width: 992px) {
    /* GLOBAL */
    .sm-center {
        text-align: center;
    }
    
    /* LANDING PAGE */
    .jumbotron-custom {
        background: no-repeat center;
        background-size: cover;
        height: 80vh;
    }
    .jumbotron-text-container {
        position: absolute;
        bottom: 15%;
        max-width: 60%;
    }
    
    /* BROWSE PAGE */
    .custom-container {
        margin-top: -625px;
    }
    .custom-backdrop {
        background: no-repeat center;
        background-size: cover;
        height: 80vh;
    }
    .search-bar {
        width: 80%;
    }
    .search-btn {
        width: 20%;
    }
}

/* =============
    MEDIUM
============= */
@media only screen and (max-width: 992px) {
    /* GLOBAL */
    .display-3 {
        font-size: 3.5rem;
    }
    .display-4 {
        font-size: 2.5rem;
    }
}

/* =============
    SMALL
============= */
@media only screen and (max-width: 768px) {
    /* GLOBAL */
    .sm-hide {
        display: none;
    }
    .lead {
        font-size: 1rem;
    }

    /* NAV */
    .navbar-custom {
        height: 75px;
    }

    /* LANDING PAGE */
    .jumbotron-text-container {
        margin-left: 0;
        position: absolute;
        bottom: 10%;
        max-width: 90%;
    }

    /* BROWSE PAGE */
    .custom-container {
        margin-top: -525px;
        padding: 25px;
        width: 90%;
    }
    .search-bar {
        width: 100%;
        border-radius: 5px;
        display: block;
    }
    .search-btn {
        margin-top: 20px;
        width: 100%;
        height: 44px;
        border-radius: 5px;
    }
    .btn-pill {
        margin-bottom: 5px;
        height: 44px;
    }
    .dblock {
        font-size: 1.5rem;
        display: block;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}